@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.footer {
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #e0e0e0;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  max-width: 800px;
  flex-direction: column;
  gap: 4px;
  color: #fff7f7;
  font-size: 1.1rem;
  margin-bottom: 70px;
  text-align: left;
}

/* Additional responsive design for screens smaller than 750px */
@media (max-width: 750px) {
  .footer {
    max-width: 630px; /* 30% reduction from 900px */
    padding: 14px 0; /* 30% reduction from 20px */
  }

  .footer-content {
    max-width: 560px; /* 30% reduction from 800px */
    font-size: 0.77rem; /* 30% reduction from 1.1rem */
    margin-bottom: 49px; /* 30% reduction from 70px */
  }
}