@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.pill {
  width: 200px;
  height: 60px;
  background-color: #000000; /* black background */
  border: 4px solid #ffffff; /* white border */
  border-radius: 20px;     /* large radius for a pill shape */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform: scale(1.00);
  transition: all 0.3s;
}

.pill:hover {
  transform: scale(1.05);
}

.pill:active {
  transform: scale(1.0);
}

.pill span {
  color: #ffffff; /* white text */
  font-size: 1.1rem;
}

/* Additional responsive design for screens smaller than 750px */
@media (max-width: 750px) {
  .pill {
    width: 140px; /* 30% reduction from 200px */
    height: 42px; /* 30% reduction from 60px */
    border: 2.8px solid #ffffff; /* 30% reduction from 4px */
    border-radius: 14px; /* 30% reduction from 20px */
  }

  .pill span {
    font-size: 0.77rem; /* 30% reduction from 1.1rem */
  }
}